<div class="wrapper">
  <h1>2048</h1>
  <h2>Score: {{ currentGame.score }}</h2>

  <div class="row" *ngFor="let fields of currentGame.gamefield; index as i">
    <div class="field" *ngFor="let field of fields; index as j">
      <div class="number" *ngIf="currentGame.gamefield[i][j]"
        [style.background-color]="getBackgroundColour(currentGame.gamefield[i][j].value)">
        {{currentGame.gamefield[i][j].value}}
      </div>
    </div>
  </div>
  <div class="game-over" *ngIf="isGameOver">
    <p>Game Over</p>
  </div>

  <button (click)="exportData()">Export CSV</button>

  <input #fileUploadSimple [accept]="'.csv'" type="file" class="file-input" (change)="importData($event)"
    hidden="true">
  <button (click)="fileUploadSimple.click()"> Import from csv</button>

  <div>
    <p>
      space: New Game
    </p>
    <p>
      P: Play automagically (random mode)
    </p>
    <p>
      S: Play automagically (with predictions)
    </p>
    <p>
      T: train
    </p>
    <p>
      D: Demo
    </p>
  </div>

</div>